<h1>Welcome to Growr!</h1>

<h2>Introduction</h2>
{% assign doclist = site.pages | sort: 'url'  %}
<ul>
       {% for doc in doclist %}
            {% if doc.name contains '.md' and doc.url contains '/introduction/' %}
 <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.name }}</a></li>  
            {% endif %}
        {% endfor %}
</ul>

<h2>How it works</h2>
{% assign doclist = site.pages | sort: 'url'  %}
<ul>
       {% for doc in doclist %}
            {% if doc.name contains '.md' and doc.url contains '/flows/' %}
 <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.name }}</a></li>  
            {% endif %}
        {% endfor %}
</ul>
  
<h2>Architecture</h2>
{% assign doclist = site.pages | sort: 'url'  %}
<ul>
       {% for doc in doclist %}
            {% if doc.name contains '.md' and doc.url contains '/architecture/' %}
 <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.name }}</a></li>  
            {% endif %}
        {% endfor %}
</ul>
