<div class="sidenav">
    {% assign doclist = site.pages | sort: 'url' %}

    <h3>Introduction</h3>
    <ul id="ul-introduction" style="list-style: none;">
        {% for doc in doclist %}
        {% if doc.name contains '.md' and doc.url contains '/introduction/' %}
        {% if doc.name contains '1-Abstract' %}
        <li><a id="Abstract" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">Abstract</a></li>
        {% else %}
        <li><a id="{{ doc.title }}" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Specification</h3>
    <ul id="ul-spec" style="list-style: none;">
        {% for doc in doclist %}
        {% if doc.name contains '.md' and doc.url contains '/specification/' %}
        <li><a id="{{ doc.title }}" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

</div>