<div class="sidenav">
    {% assign doclist = site.pages | sort: 'url' %}

    <h3>Introduction</h3>
    <ul id="ul-introduction" style="list-style: none;">
        {% for doc in doclist %}
        {% if doc.name contains '.md' and doc.url contains '/introduction/' %}
        {% if doc.name contains '1-Abstract' %}
        <li><a id="Abstract" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">Abstract</a></li>
        {% else %}
        <li><a id="{{ doc.title }}" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Protocol components</h3>
    <ul id="ul-components" style="list-style: none;">
        {% for doc in doclist %}
        {% if doc.name contains '.md' and doc.url contains '/components/' %}
        <li><a id="{{ doc.title }}" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Protocol mechanics</h3>
    <ul id="ul-mechanics" style="list-style: none;">
        {% for doc in doclist %}
        {% if doc.name contains '.md' and doc.url contains '/mechanics/' %}
        <li><a id="{{ doc.title }}" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Protocol implementation</h3>
    <ul id="ul-implementation" style="list-style: none;">
        {% for doc in doclist %}
        {% if doc.name contains '.md' and doc.url contains '/implementation/' %}
        <li><a id="{{ doc.title }}" class="sidenav-a" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

</div>