<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:wght@300;500;700&display=swap" as="style"
        type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#009D8B">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.14.0/mermaid.min.js"></script>
</head>

<body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <a href="{{ site.baseurl }}">
            <h1 class="project-name">Growr protocol</h1>
        </a>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        <a href="{{ site.baseurl }}/litepaper/Growr-litepaper.pdf" class="btn">Downdload Litepaper</a>
        {% endif %}
    </header>

    {% include sidebar.html %}

    <main id="content" class="main-content" role="main">

        {{ content }}

        <div class="navSection">
            <a id="prev-section" href="#" class="btn"></a>
            <a id="next-section" href="#" class="btn"></a>
        </div>

        <footer class="site-footer">

        </footer>
    </main>
</body>
<script>
    var prev_a = document.getElementById('prev-section');
    var next_a = document.getElementById('next-section');
    const collection = document.getElementsByClassName("sidenav-a");
    let prev = null; let next = null; let last = null;
    for (var i = 0; i < collection.length; i++) {
        let curr = collection[i];
        if (curr.id == document.title.split(' | ', 1)[0]) {
            if (last) {
                prev_a.href = last.href;
                prev_a.text = "« Back to \"" + last.id + "\" ";
                prev_a.hidden = false;
            } else {
                prev_a.hidden = true;
            }
            i++;
            if (collection[i]) {
                next_a.href = collection[i].href;
                next_a.text = " Go to \"" + collection[i].id + "\" »";
                next_a.hidden = false;
            } else {
                next_a.hidden = true;
            }
            break;
        }
        last = curr;
    };
</script>
<script>
    //activate mermaid diagrams:
    const config = {
        startOnLoad: true,
        bottomMarginAdj: '1',
        securityLevel: 'loose',
        theme: 'base',
        themeVariables: {
            primaryColor: '#A9F5EB',
            background: '#f4f4f4',
            fontFamily: 'Rubik, sans-serif',
            primaryTextColor: '#157878',
            noteBkgColor: '#A9F5EB',
            actorBkg: '#009D8B',
            actorTextColor: '#ffffff',
            noteTextColor: '#000000',
            signalTextColor: '#157878',
            activationBkgColor: '#16D1BA',
            activationBorderColor: '#16D1BA',
            loopTextColor: '#000000'
        },
        sequence: {
            actorFontSize: '16px',
            actorFontFamily: 'Rubik, sans-serif',
            actorFontWeight: '300',
            messageFontSize: '14px',
            messageFontFamily: 'Rubik, sans-serif',
            messageFontWeight: '200',
            noteFontFamily: 'Rubik, sans-serif',
            noteFontSize: '14px',
            noteFontWeight: '200',
            showSequenceNumbers: 'true'
        },
        themeCSS: '.messageText { stroke: none; }'
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    //set auto height of the diagrams:
    const diagrams = document.getElementsByTagName('svg');
    console.log(diagrams);
    for (let diagram of diagrams) {
        diagram.setAttribute('height', 'auto');
    }

</script>

</html>